<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}

            <form action="">
                <input type="text" placeholder="location" id="searchInput">
                <button>Search</button>
            </form>
            <div class="output" id="location"></div>
            <div class="output" id="forecast"></div>
            <p>Created By: {{ name }} </p>
        </div>
        {{>footer}}

        <script src="./js/app.js"></script>
    </body>
</html>